{
  "extends": "eslint:recommended",
  "env": {
    "mocha": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "eol-last": 2,
    "eqeqeq": 2,
    "indent": [ 2, 2, { "SwitchCase": 1 } ],
    "no-empty": 0,
    "no-multiple-empty-lines": [ 2, { "max": 1, "maxEOF": 0, "maxBOF": 0 } ],
    "no-trailing-spaces": 2,
    "quotes": [ 2, "single", "avoid-escape" ],
    "semi": [ 2, "always" ]
  }
}
