sudo: false
language: node_js
node_js:
  - '6'
  - '5'
  - '4'
script:
  - "npm run test-travis"
after_script:
  - "npm install coveralls@2 && cat coverage/lcov.info | coveralls"
notifications:
  email: a@alexandresaiz.com
