{
  "title" :             "Nodify",
  "content_file" :      "README.md",
  "include_index" :     true,
  "docco_files" :       "src/*.coffee",
  "header" :            "Nodify",
  "subheader" :         "Shopify API client",
  "background" :        "diagonal-noise",
  "github" :                  "https://github.com/Shopfrogs/Nodify"
}
